<!-- your html code here -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Section Layout</title>
   
</head>
<body>

    <hr class="custom divider">

    <div class="row section-container align-items-center">
        <div class="col-md-6 text-center">
            <img src="https://img.freepik.com/foto-gratis/arriba-manos-femeninas-trabajando-laptop_23-2148210402.jpg" alt="Placeholder Image" class="circle-img">
        </div>
        <div class="col-md-6 d-flex align-items-center gap-1 flex-wrap">
            
                <h2 class="black mb-0">The Second Heading</h2><h2 class="grey mb-0">Is Pretty Cool Too.</h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            
        </div>
    </div>

<hr class="custom divider">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
